#calculadora table {
  margin: 0 auto;
  padding: 0;
  box-sizing: content-box;
  background-color: #58bce7; 
  border: 0 double rgb(20, 20, 20);
  font-size: 1.5625rem;
}

#calculadora tr {
  width: 100%;
  height:100%;
}

#calculadora tr td input {
  width: 100%;
  height:100%;
}

#calculadora td input:hover {
  color: #fa9b9b;
  background-color: #546E7A;
}

#calculadora td input#tela {
  text-align: right;
}

#calculadora td input#tela:hover {
  color: #000;
  background-color: #e1e7bd;
}
